/* Add this to styles.css */

@keyframes bounceIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .bounce-in {
      animation: bounceIn 0.5s; /* Adjust 0.5s if you want the animation to be faster or slower */
  }
  


.input-container {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 0;  /* Adjust padding as needed */
}
